body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
}
header {
    background-color: #333;
    color: white;
    text-align: left;
    padding: 20px 0;
}
h1 {
    margin: 0;
    font-size: 24px;
}
.sidebar {
    width: 200px;
    background-color: #fff;
    border-right: 1px solid #ccc;
}

ul {
    list-style: none;
    padding: 0;
}

ul li {
    padding: 10px;
    cursor: pointer;
}

.content {
    flex: 1;
    padding: 20px;
}

header h1 {
    margin-bottom: 20px;
}

.form-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.name-inputs {
    display: flex;
    gap: 10px;
    margin-bottom: 15px;
}

.email-password {
    display: flex;
    gap: 10px;
    margin-bottom: 15px;
}

.email-password input[type="email"],
.email-password input[type="password"],
.name-inputs input[type="text"] {
    flex: 1;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-bottom: 10px;
}

.save-btn {
    background-color: purple;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
}

.save-btn:hover {
    background-color: #5e30f3e7;
}

footer {
    text-align: center;
    padding: 10px 0;
    background-color: #333;
    color: #fff;
}